<div class="container">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input type="text" class="form-control" id="nomeInput" placeholder="Digite um nome" #nomeInput>
    </div>
    <button type="button" class="btn btn-primary" (click)="adicionar(nomeInput.value)">Adicionar</button>
    <div [hidden]="esconderCaixa" class="alert alert-primary mt-3 p-3">
      {{nome}}
    </div>
  </form>
  <label for="produtoInput">Produto</label>
  <input type="text" class="form-control" id="produtoInput" [(ngModel)]="produto" #produtoInput>
  <button type="button" class="btn btn-primary mt-2" (click)="alterarProduto(produtoInput)">Alterar produto</button>
  {{produto}}
</div>

<!--Meu nome é {{nome}}. Eu tenho {{idade}} anos.
Dado lançado: {{lancarDado()}}-->